:root {
  /* Set root font size to adjust Chakra font sizes */
  font-size: 14px;

  --header-height: 70px;
  --main-height: calc(100vh - 70px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.zdg-drop-target,
.zdg-lassoo {
  /* transition: transform 0.2s ease-in-out; */
  transition: transform 0.1s ease-in;
  /* transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.zdg-lassooed > .zdg-issue {
  opacity: 0.5;
}

/* Fade transition for highlighting issues */
.zdg-issue,
.zdg-line,
.zdg-arrow {
  transition: opacity 0.2s ease-in-out;
}
